@model IEnumerable<Food.Models.BContact>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Dùng layout của bạn
}

<!-- Testimonial Start -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Testimonial</small>
            <h1 class="display-5 mb-5">Khách hàng của chúng tôi nói gì!</h1>
        </div>
        <div class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-1 mb-4 wow bounceInUp" data-wow-delay="0.1s">
            @await Component.InvokeAsync("Contact")
        </div>
        <div class="owl-carousel testimonial-carousel testimonial-carousel-2 wow bounceInUp" data-wow-delay="0.3s">
            @await Component.InvokeAsync("Contact")
        </div>
    </div>
</div>
<!-- Testimonial End -->