@model IEnumerable<Food.Models.BBlog> 
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Tin tức</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item text-dark" aria-current="page">Tin tức</li>
        </ol>
    </div>
</div>

<div class="container-fluid blog py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Tin tức</small>
            <h1 class="display-5 mb-5">Hãy là người đầu tiên đọc tin tức</h1>
        </div>
        <div class="row gx-4 justify-content-center">
            @await Component.InvokeAsync("Blog")
        </div>
    </div>
</div>
